.footer-container {
    background-color: gray;
    padding: 0px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size:10px;
}

.footer-left,
.footer-right,
.footer-center {
    display: inline-block;
    margin: 0 10px;
}
.choco, .contact {
    font-size:14px;
    font-weight: bold;
}
.footer a {
    color: #333;
    text-decoration: none;
}

.footer input[type="text"] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid red;
}

.social-widget {
    font-size:30px;
    text-align:center;
}